.sell-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.sell-container nav {
    background-color: #333; /* Dark background color */
    color: white; /* Text color */
    padding: 15px;
    width: 100%;
    cursor: pointer;
    display: flex;  
}

.form {
    margin-bottom: 15px;
}

h2 {
    text-align: center;
    color: white;
}

.sell-form {
    display: flex;
    flex-direction: column;
}


label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input[type="number"]:focus {
    border-color: #007bff;
    outline: none;
}

input[type="text"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
textarea:focus {
    border-color: #007bff;
    outline: none;
}

textarea {
    resize: vertical; /* Allows vertical resizing only */
}

.image-preview {
    width: 100px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.submit-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}

.submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.div {
    margin-bottom: 15px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

select:focus {
    border-color: #007bff;
    outline: none;
}