.home-container {
    /* padding: 10px; */
    font-family: Arial, sans-serif;
}

.home-container p {
    text-align: center;
    color: aliceblue;
}

.home-container nav {
    color: white; /* Text color */
    cursor: pointer;
}

.home-container button:hover {
    background-color:rgb(207, 195, 64);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 columns */
    gap: 20px; /* Spacing between cards */
    margin-top: 20px;
    padding: 10px;
}

.listing-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: transform 0.2s;
}

.listing-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.listing-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.listing-card p {
    color: #527853;
    font-weight: bold;
    font-size: 16px;
}

.listing-card:hover {
    transform: scale(1.05);
}

/* CSS for favorite button */
.favorite-button {
    border: none;
    background-color: transparent;
    color: #527853;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.favorite-button:hover {
    color: #ee7214;
}

.favorite-button.favorited {
    color: #ee7214; /* Highlight favorited items */
    font-weight: bold;
}
