body {
  font-family: 'Oswald', sans-serif; /* Apply the Oswald font */
  
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif; /* Apply to headings if needed */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

